---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <main class="flex h-full w-full flex-col items-center justify-center">
    <p class="text-6xl font-bold">404</p>
    <div class="text-xl font-light">(Page Not Found)</div>
  </main>
</Layout>
