---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import ExternalLink from "../components/ExternalLink.astro";
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
---

<Layout title="Gurgel">
  <main
    class="flex h-screen w-full items-center justify-center bg-gradient-to-b from-neutral-800 to-neutral-900 p-4 align-middle"
  >
    <Hero />
    <div class="absolute bottom-0 flex h-16 gap-8 p-4">
      <ExternalLink title="Github" href="https://github.com/gurgelio">
        <Github />
      </ExternalLink>
      <ExternalLink title="LinkedIn" href="https://linkedin.com/gurgelio">
        <LinkedIn />
      </ExternalLink>
    </div>
  </main>
</Layout>
