/* cantarell-regular */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 400;
	src: local("Cantarell Regular"), local("Cantarell-Regular"), url(cantarell-regular.woff2) format("woff2");
}
/* cantarell-italic */
@font-face {
	font-family: Cantarell;
	font-style: italic;
	font-weight: 400;
	src: local("Cantarell Italic"), local("Cantarell-Italic"), url(cantarell-italic.woff2) format("woff2");
}
/* cantarell-bold-italic */
@font-face {
	font-family: Cantarell;
	font-style: italic;
	font-weight: 700;
	src: local("Cantarell Bold Italic"), local("Cantarell-BoldItalic"), url(cantarell-bold-italic.woff2) format("woff2");
}
/* cantarell-bold */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 700;
	src: local("Cantarell Bold"), local("Cantarell-Bold"), url(cantarell-bold.woff2) format("woff2");
}

