<script>
  import { resize, start } from '../particles';
  start(document.getElementById('canvas') as HTMLCanvasElement);
  addEventListener('resize', resize);
</script>

<header>
  <div class="flex flex-col items-center justify-center h-screen gap-3">
    <h1 class="text-6xl font-bold tracking-wide text-neutral-100">Leonardo Gurgel</h1>
    <p class="text-xl tracking-widest text-neutral-400">Full Stack Developer</p>
  </div>
  <canvas class="flex h-full w-full absolute top-0 left-0" id="canvas"></canvas>
</header>